*
{
	font-family: Arial;
	text-transform: uppercase;
}

.row2
{
	padding: 0 100px;
	top: 50%;
	position: relative;
}

.row1
{
	position: relative;
	top: 50%;
}
.row2 p
{
	line-height: 2;
	letter-spacing: 0.4rem;
}

.row1 input[type=email], input[type=password]
{
	border: 0;
	border-bottom: 1px solid #c2c2c2;
	padding: 5px 0px;
}
.button-default 
{
	letter-spacing: 0.3rem;
}
.content
{
	font-size: 10pt
}
/*.wrapper
{
	top: 50%;
	width: 900px;
}*/